@import "../../../sass/variables";

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  width: 76%;
  margin: 0 auto;
  background: $athens-gray;
  padding-top: 11rem;
  padding-bottom: 14rem;

  p {
    font-size: 4.8rem;
    font-weight: $font-weight-bold;
    color: $prussian-blue;
  }
}